
.bi {
  vertical-align: -.125em;
  fill: currentColor;
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
  
.navbar .form-control {
  padding: .75rem 1rem;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

.canvas-container {
    flex-grow: 1; /* El contenedor del canvas ocupará todo el espacio restante */
    overflow: hidden; /* Evita el desplazamiento si el canvas es más grande que el contenedor */
}

.chartSelectorContainer {
  display: flex;
}

.chartSelectorContent {
  justify-content: space-evenly;
  align-items: stretch;
}

.cover-container {
  height: 100%;
}

.canvas-full-adjust {
  height: 100%;
  width: 100%;
}

iframe{
  display: none;
}

.bgimg-closed {
  background-image: url(bridge_imgs/bridge_closed.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bgimg-opened {
  background-image: url(bridge_imgs/bridge_opened.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bgimg-mid {
  background-image: url(bridge_imgs/bridge_mid.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
